.logo {
    width: 268px;
    height: 33px;
}

.list1 {
    color:#00b39b;
    font-style: normal; 
    margin-right: 20px;  
}
.list2 {
    color:#ababab;
        margin-right: 20px;
}
body{
    font-family: Roboto,Arial,sans-serif;

}
ul{
    list-style-type:none ;
    
}
li a{
    text-decoration:none}
.navbar{display:flex;
        justify-content: space-around;
    }
 .flex-container{
        display: flex;
        justify-content: space-around;
        margin:.8em 0;
    }
    h1{
         font-size: 2.125rem;
      color:  #00b39b;
    }
       
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    div{
        display: block;
    }
    .col-2 {
        width: 50%;
        padding: 10px;
    }
    html {
        font-size: 16px;
    }
    .lead__logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;}